
<div class="spinner-overlay" *ngIf="isLoading">
  <mat-progress-spinner
    diameter="60"
    mode="indeterminate"
    color="accent">
  </mat-progress-spinner>
</div>
<div class="page-container">
  <mat-toolbar color="accent">
    <span class="title">Digital Ribbon Rack</span>
  </mat-toolbar>

  


  <div class="description">
    <p>
      Select your authorized awards on the left, use the arrorws to move them to the right
    </p>
    <p>When all are selected click "Generate Ribbon Image"</p>
  </div>

  <div class="transfer-list-container">
    <!-- Available Awards -->
    <mat-list class="list-column">
      <mat-list-item
      *ngFor="let award of sortedAvailableAwards"
        [class.selected]="selectedAvailable.includes(award)"
        (click)="toggleAvailable(award)">
        {{ award.name }}
      </mat-list-item>
    </mat-list>

    <!-- Transfer Buttons -->
    <div class="transfer-buttons">
      <button mat-icon-button (click)="moveToSelected()" [disabled]="!selectedAvailable.length">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button mat-icon-button (click)="moveToAvailable()" [disabled]="!selectedSelected.length">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>

    <!-- Selected Awards -->
    <mat-list class="list-column">
      <mat-list-item
        *ngFor="let award of selectedAwards"
        [class.selected]="selectedSelected.includes(award)"
        (click)="toggleSelected(award)">
        {{ award.name }}
      </mat-list-item>
    </mat-list>
  </div>

  <!-- <mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="width:600px"></mat-progress-bar> -->

  <div class="actions">
    <button mat-raised-button color="accent" (click)="getCombinedAward()">
      Generate Ribbon Image
    </button>
  </div>

  <div class="preview">
    <img #awardImage [src]="'assets/placeholder.png'" alt="Generated award image" />
  </div>

  <div class="description">
    <p>Built and maintained by <a href="http://fwdeible.com"> Fran Deible</a> </p>
  </div>
</div>
